body {
  background: linear-gradient(90deg, #06020b 25%, rgb(24, 6, 28) 50%, #06020b);
  height: 100%;
overflow: hidden;

  font: 15px/20px Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 200px;
  height: 100px;
 
  perspective: 1000px;
 
}

.carousel {
  margin: 28px auto;
  height: 100%;
  width: 100%;
  position: absolute;

  transform-style: preserve-3d;
  transition: transform 1.7s;
}
.carousel div {
  transform-style: preserve-3d;

  
}

.item {
display: block;
  position: absolute;

  background: #000;
  width: 450px;

  font-size: 5em;
  text-align: center;
  color: #FFF;
filter: contrast(1.3);
  border-radius: 10px;
  transition: transform 0.5s;
}

img {
  width: inherit;
  height: auto;
  border-radius: 10px;
}
img:active {
  transform: scale(1.05);
  transition: 1.5s ease-out;
}
.a {
  transform: rotateY(0deg) translateZ(259px);
}
.a .item {
  background: #35343c;
}
.b {
  transform: rotateY(24deg) translateZ(240px) rotateY(-24deg);
}
.b .item {
  background: #35343c;
}
.c {
  transform: rotateY(48deg) translateZ(240px)  rotateY(-48deg);
}
.c .item {
  background: #35343c;
}
.d {
  transform: rotateY(72deg) translateZ(240px) rotateY(-72deg);
}
.d .item {
  background: #35343c;
}
.e {
  transform: rotateY(96deg) translateZ(240px) rotateY(-96deg);
} 
.e .item {
  background: #35343c;
}
.f {
  transform: rotateY(120deg) translateZ(240px) rotateY(-120deg);
}
.f .item {
  background: #35343c;
}
.g {
  transform: rotateY(144deg) translateZ(240px) rotateY(-144deg);
}
.g .item {
  background: #35343c;
}
.h {
  transform: rotateY(168deg) translateZ(240px) rotateY(-168deg);
}
.h .item {
  background: #35343c;
}
.i {
  transform: rotateY(192deg) translateZ(240px) rotateY(-192deg);
}
.i .item {
  background: #35343c;
}
.j {
  transform: rotateY(216deg) translateZ(240px) rotateY(-216deg);
}
.j .item {
  background: #35343c;
}
.k {
  transform: rotateY(240deg) translateZ(240px) rotateY(-240deg);
}
.k .item {
  background: #35343c;
}
.l {
  transform: rotateY(264deg) translateZ(240px) rotateY(-264deg);
}
.l .item {
  background: #35343c;
}
.m {
  transform: rotateY(288deg) translateZ(240px) rotateY(-288deg);
}
.m .item {
  background: #35343c;
}
.n {
  transform: rotateY(312deg) translateZ(240px) rotateY(-312deg);
}
.n .item {
  background: #35343c;
}
.o {
  transform: rotateY(336deg) translateZ(240px) rotateY(-336deg);
}
.o .item {
  background: #35343c;
}
.prev-btn {
  width: 70px;
  height: 50px;
 

  cursor: pointer;
  text-align: center;
  z-index: 5;
  background: rgb(214, 127, 41);
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev-btn:hover, .next-btn:hover {
  filter: brightness(1.3);
}
.prev-btn:active, .next-btn:active {
  filter: brightness(0.9);
}
.next-btn {
  width: 70px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 5;
  background: rgb(214, 127, 41);
  border: none;
  border-radius: 7px;
}
.wrap-btn {
 position: absolute;
 top: 80%;
 left: calc(50% - 70px);
  display: flex;
  gap: 42%;
}

.fa-chevron-left {

  font-size: 20px;
  color: rgb(39, 13, 13);
}
.fa-chevron-right {
  font-size: 20px;
  color: rgb(39, 13, 13);
  z-index: 11;
}

@media only screen and (min-width: 1080px) and (max-width: 1339px) {
  .item {
    width: 300px;
  }

}
@media only screen and (max-width: 1079px) {
  .container {
    position: absolute;
    top: 25%;
    left: 30%;
  }
  .item {
    width: 225px;
  }
}